{% extends "layout_bsa.html" %}

{% block page_title %}
  Would you like your prepayment certificate sent by text and email? - Buy an NHS Prescription Prepayment Certificate
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Buy an NHS Prescription Prepayment Certificate </p>
        <h1 class="heading-large">
        How would you like your prepayment certificate sent?
        </h1>
      </div>


      <div class="notice">
  <i class="icon icon-information">
    <span class="visually-hidden">Information</span>
  </i>
  <strong>
    <span class="bold">We do not send out plastic cards any more because they take time to reach you.</span> They are also costly to the NHS and the environment
  </strong>
</div>
<br>


      <p>We can send your prepayment certificate straight away by email. Or, you can write down or print your details at the end of the service.
      </p>

    <p>You will get a:</p>
      <ul class="list list-bullet">
        <li>certificate number</li>
        <li>start date</li>
        <li>end date</li>
      </ul>
    </p>
    <div class="panel panel-border-wide">

<p>If you choose to receive your certificate by email you will also receive an email reminder a month before your certificate runs out.</p>
</div>
    <form class="form" action="reminder-a-1" id="contact-boxes">


      <div class="multiple-choice" data-target="contactme_details">
        <input id="contactme" type="radio" name="contact" value="contactme">
        <label for="contactme">Send my certificate details by email</label>
      </div>

    <div class="panel panel-border-narrow js-hidden" id="contactme_details">
      <div class="form-group">
      <label class="form-label" for="email">Email address</label>
      <input class="form-control" name="email" type="email" id="email">
    </div>
  </div>

<div class="form-group">
  <div class="multiple-choice" data-target="no-reminder">
    <input id="nocontact" type="radio" name="contact" value="nocontact">
    <label for="nocontact">I will write down my certificate details</label>
  </div>
<div class="panel panel-border-narrow js-hidden" id="no-reminder">
</p>If you choose to write down your certificate details<span class="strong"> you will not receive a reminder.</span></p>
  </div>
</div>


  <div class="form-group">
    <input class="button" type="submit" value="Next">
  </div>

        <div class="form-group">
        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>
      </div>
      </form>

    </div>

  </div>

</main>

{% endblock %}
