{% extends "layout_bsa.html" %}

{% block page_title %}
When do you want your prepayment certificate to start? - Buy an NHS Prescription Prepayment Certificate
{% endblock %}

{% block content %}

<!--if person is recognised as currently having a PPC-->

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="heading-group">
      <p>Buy an NHS Prescription Prepayment Certificate </p>
        <h1 class="heading-large">
            When would you like your prepayment certificate to start?
        </h1>
      </div>

      <p><br>
        The last date you can use your current certificate is 6 January 2019.
        <br><br>
        You can only choose 7 January 2019 to start your certificate.
      </p>

<div class="form-group">
      <details>

  <summary><span class="summary">Why can I only choose one date?</span></summary>

  <div class="panel panel-border-narrow">

  <p>

  Your new certificate must:
<ul class="list list-bullet"><li>start after your current certificate expires (6 January 2018)</li>
    <li>start within the next month</li>
</ul>
If you want to start your certificate after 7 January 2019 please come back to this service at a later date.
</p>

  </div>

</details>
</div>



      <form class="form" action="copy" method="get">
        <div class="form-group">
          <fieldset>


              <p style="color:gray">For example, 10 11 2018</p>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label for="anotherday">Day</label>
                  <input class="form-control" id="anotherday" name="another_day" type="number" pattern="[0-9]*" min="0" max="31" >
                </div>
                <div class="form-group form-group-month">
                  <label for="anothermonth">Month</label>
                  <input class="form-control" id="anothermonth" name="another_month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                  <label for="anotheryear">Year</label>
                  <input class="form-control" id="anotheryear" name="another_year" type="number" pattern="[0-9]*" min="0" max="2018">
                </div>

              </div>


          </fieldset>
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Next">
        </div>

        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

        <div class="form-group" id="start-today">
          <div class="form-date">
          <div class="form-group form-group-day">
            <input class="form-control" id="todayday" name="today_day" pattern="[0-9]*" min="0" max="31" value="10" type="hidden">
          </div>
          <div class="form-group form-group-month">
            <input class="form-control" id="todaymonth" name="today_month" pattern="[0-9]*" min="0" max="12" value="08" type="hidden">
          </div>
          <div class="form-group form-group-year">
            <input class="form-control" id="todayyear" name="today_year" pattern="[0-9]*" min="0" max="2018" value="2018" type="hidden">
          </div>
        </div>
      </div>



      </form>

    </div>

  </div>

</main>


{% endblock %}
