{% extends "layout_bsa.html" %}

{% block page_title %}
Check your answers - Buy an NHS Prescription Prepayment Certificate
{% endblock %}

{% block content %}

<main id="content" role="main">
   {% include "includes/phase_banner_beta.html" %}
   <div class="grid-row">
      <div class="column-two-thirds">

         <div class="heading-group">
            <p>Buy an NHS Prescription Prepayment Certificate</p>
            <h1 class="heading-large">
               Check your answers
            </h1>
         </div>

         <h2 class="heading-medium table-head">Your details</h2>
         <table id="review-table-one" class="check-table">
            <!-- about you -->
            <tr>
               <td width="35%"><span class="strong">Name</span></td>
               <td>{{ data.firstname }} {{ data.lastname }}</td>
               <td width="8%"><a href="name">Change</a></td>
            </tr>
            <tr>
               <td><span class="strong">Date of birth</span></td>
               <td>{{ data.birth_day }}/{{ data.birth_month }}/{{ data.birth_year }}</td>
               <td><a href="dob">Change</a></td>
            </tr>
            <tr>
               <td><span class="strong">Do you know your NHS number?</span></td>
               <td>{{ data.hasnhsno }}</td>
               <td><a href="nhsno">Change</a></td>
            </tr>

            {% if (data['hasnhsno'] == "Yes") %}
            <tr id="nhsno">
               <td><span class="strong">NHS Number</span></td>
               <td>{{ data.nhsno }}</td>
               <td><a href="nhsno">Change</a></td>
            </tr>
            {% endif %}

            <tr>
               <td><span class="strong">Address</span></td>
               <td>{{ data.lineone }}<br>{{ data.town }}<br>{{ data.postcode }}</td>
               <td><a href="manual-address0">Change</a></td>
            </tr>

            <tr>
               <td><span class="strong">Get prepayment certificate and reminder by email?</span></td>
               <td>{{ data.email }}</td>
               <td><a href="reminder-a-1">Change</a></td>
            </tr>

            {% if (data['email'] == "Yes") %}
            <tr id="email-value">
               <td><span class="strong">Email</span></td>
               <td>{{ data.emailaddress }}</td>
               <td><a href="copy">Change</a></td>
            </tr>
            {% endif %}


            <!-- about your prepayment -->
         </table>
         <h2 class="heading-medium table-head">Your certificate</h2>

         <table id="review-table-two" class="check-table">
            <tr>
               <td width="35%"><span class="strong">Length</span></td>
               <td id="duration"></td>
               <td width="8%"><a href="duration">Change</a></td>
            </tr>
            <tr>
               <td><span class="strong">Start date</span></td>
               <td>13 May 2019</td>
               <td><a href="start-date">Change</a></td>
            </tr>
            <tr>
               <td><span class="strong">End date</span></td>
               <td>12 May 2020</td>
               <td><a href="start-date">Change</a></td>
            </tr>
            <tr>
               <td><span class="strong">Total cost</span></td>
               <td id="total-cost"> {{ data.total-cost }}</td>
               <td><a href="duration"></a></td>
            </tr>
            <tr>
               <td><span class="strong">Payment method</span></td>
               <td id="paymenttype"> {{ data.paymenttype }}</td>
               <td><a href="duration">Change</a></td>
            </tr>
         </table>
         <br>

         {% if (data['ppc_type'] == "12 card") or (data['ppc_type'] == "3 card") %}
         <div style="background-color: #DEE0E2; padding: 25px 25px 1px 25px; margin-top:15px;">
            <div class="notice" style="margin-bottom:25px;">
               <i class="icon icon-important">
                  <span class="visually-hidden">Warning</span>
               </i>
               <strong class="bold-small">
                  If you choose to continue, you will be transferred to our card payment provider, <a
                     href="https://www.payments.service.gov.uk/">GOV.UK Pay.</a>
               </strong>
            </div>
            <p style="
    margin-top: 20px;
    margin-bottom: 10px;
"><img width="418" src="/public/images/bsa/cards.png"></p>
            <p style="font-size: 16px;">Accepted credit and debit card types</p>
         </div>

         <br>
         {% endif %}


         <div class="form-group">
            {% if (data['ppc_type'] == "12 dd") %}
            <a href="ddpay"><input class="button" type="submit" value="Proceed to payment"></a>
            {% endif %}

            {% if (data['ppc_type'] == "12 card") and (data['email'] !== "No") %}
            <a href="https://products.payments.service.gov.uk/pay/003f769a13cb4c528a4e6f80d56302e4"><input
                  class="button" type="submit" value="Proceed to payment"></a>
            {% endif %}

            {% if (data['ppc_type'] == "12 card") and (data['email'] == "No") %}
            <a href="https://products.payments.service.gov.uk/pay/d62ec1b6b13c4c8a8f2aa6c9633b8dc1"><input
                  class="button" type="submit" value="Proceed to payment"></a>
            {% endif %}


            {% if (data['ppc_type'] == "3 card") and (data['email'] !== "No")  %}
            <a href="https://products.payments.service.gov.uk/pay/21a91843839e4c77adf7e7a79db611f3"><input
                  class="button" type="submit" value="Proceed to payment"></a>
            {% endif %}

            {% if (data['ppc_type'] == "3 card") and (data['email'] == "No") %}
            <a href="https://products.payments.service.gov.uk/pay/8b62a59789104ffe915eb713c1f752d4"><input
                  class="button" type="submit" value="Proceed to payment"></a>
            {% endif %}
         </div>




         <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

      </div>



   </div>

</main>

<script>
   if ("{{ data.ppc_type }}" === "12 dd") {
      document.getElementById("duration").innerHTML = "12 months";
      document.getElementById("total-cost").innerHTML = "£104";
      document.getElementById("paymenttype").innerHTML = "10 instalments of £10.40 by Direct Debit";
   } else if ("{{ data.ppc_type }}" === "12 card") {
      document.getElementById("duration").innerHTML = "12 months";
      document.getElementById("total-cost").innerHTML = "£104";
      document.getElementById("paymenttype").innerHTML = "Card payment";
      document.getElementById("donestatement").innerHTML = "You have prepaid for 12 months of prescriptions.";
   } else if ("{{ data.ppc_type }}" === "3 card") {
      document.getElementById("duration").innerHTML = "3 months";
      document.getElementById("total-cost").innerHTML = "£29.10";
      document.getElementById("paymenttype").innerHTML = "Card payment";
      document.getElementById("donestatement").innerHTML = "You have prepaid for 3 months of prescriptions.";
   } else {
      document.getElementById("duration").innerHTML = " ";
   }
</script>
{% endblock %}