{% extends "layout_bsa.html" %}

{% block page_title %}
  You have prepaid for {{duration}} of prescriptions. - Buy an NHS Prescription Prepayment Certificate
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">


    <div class="column-two-thirds">

      <div class="done-panel">
        <h1 class="heading-large"><span id="done-tick"> </span>Done</h1>
        <div id="oneoff_done">
        <h2 class="heading-medium">You have prepaid for 3 months of prescriptions</h2>
      </div>
      </div>

      <h3 class="heading-medium">You won't receive a certificate in the post - keep your details safe.​</h3>

      <p>If a pharmacist asks for evidence that you have prepaid, you must show them the following details:</p>
      <div class="panel panel-border-wide">
      <div class="info-table">
        <p>Certificate for: <span class="strong">{{ data.firstname }} {{ data.lastname }}</span></p>
        <p>Certificate number: <span class="strong">869 467 589</span></p>
        <p>Starts on: <span class="strong">21/01/2019</span></p>
        <p>Ends on: <span class="strong">20/04/2019</span></p>
      </div>
    </div>
<div id="contact_content">
      <p>
       We have sent the following certificate details to <span class="bold-small">{{ data.email }}</span>. You can also print this page or write down your details.</p>
       <p>You will receive a reminder by email one month before your certificate ends.</p>
      </p>
    </div>

      <h2 class="heading-medium">Print your certificate</h2>

      <ul class="list options-list">
        <li><a class="icon print-icon" href="javascript:window.print();">Print certificate</a></li>
        <!-- <li><a class="icon download-icon" href="../public/images/bsa/cert.pdf" target="_blank">Save this page (PDF 55k)</a></li> -->
      </ul>

     <h3 class="heading-medium">Collecting prescriptions</h3>

     <p>
       Tick box 'F' on the back of your prescription.
     </p>

     <p>
       Pharmacy staff ask for prepayment details. If you do not have them with you, they tick 'Evidence not seen' on the prescription. They will not charge you.
     </p>

     <p>
       We prevent fraud by matching prepayment details on our database with prescriptions.
     </p>

    </div>

<div class="column-two-thirds">
    <a class="button" href="feedback">Finished</a>
  </p>
  <p>Selecting finished will take you to a short survey. Your feedback will help us to improve this service. You don’t have to complete this if you don’t want to.</p>
  <p>

  <h4 class="heading-small">Contact us</h4>
  <p>
    <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us</a> if you have any queries about your prescription prepayment certificate.
  </p>

  <p id="has_dd"class="visually-hidden">{{dd}}</p>
  <p id="3month"class="visually-hidden">{{durtion}}</p>
</div>


</main>


<script>
  if ("{{ data.ppc_type }}" === "12 dd") {
    document.getElementById("duration").innerHTML = "12 months";
    document.getElementById("total-cost").innerHTML = "£104";
    document.getElementById("paymenttype").innerHTML = "10 instalments of £10.40 by Direct Debit";
  } else if ("{{ data.ppc_type }}" === "12 card") {
    document.getElementById("duration").innerHTML = "12 months";
    document.getElementById("total-cost").innerHTML = "£104";
    document.getElementById("paymenttype").innerHTML = "Card payment";
    document.getElementById("donestatement").innerHTML = "You have prepaid for 12 months of prescriptions.";
  } else if ("{{ data.ppc_type }}" === "3 card") {
    document.getElementById("duration").innerHTML = "3 months";
    document.getElementById("total-cost").innerHTML = "£29.10";
    document.getElementById("paymenttype").innerHTML = "Card payment";
    document.getElementById("donestatement").innerHTML = "You have prepaid for 3 months of prescriptions.";
  } else {
    document.getElementById("duration").innerHTML = " ";
  }
</script>

{% endblock %}
