{% extends "layout_bsa.html" %}

{% block page_title %}
  View an NHS prescription prepayment
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <div class="heading-group">
        <h1 class="heading-xlarge">View your NHS certificate</h1>
      </div>
    </div>

    <div class="column-two-thirds">

      <p>You can use this service to:</p>
        <ul class="list list-bullet">
          <li>view your NHS certificate</li>
          <li>check if your NHS certificate is still valid or will expire soon</li>
          <li>prove you don't have to pay for prescriptions</li>
        </ul>

        <p>You can check the following certificates:</p>
          <ul class="list list-bullet">
            <li>prescription prepayment certificate (PPC)</li>
            <li>medical exemption certificate</li>
            <li>maternity exemption certificate</li>
            <li>HC2 certificate</li>
            <li>tax credit exemption certificate</li>
          </ul>


<br>



      <br>

        <p class="button-group">
          <a class="button button-get-started" href="return_date" id="next">
            Start now
          </a>
        </p>
          <p>It should take less than 1 minute to complete.</p>

      </div>

    </div>

  </div>

</main>

{% endblock %}
