{% extends "layout_bsa.html" %}

{% block page_title %}
  NHSBSA Prototype
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="phase-banner">
      <p>
      <strong class="phase-tag">BETA</strong>
      This is a new service
      <span> - your <a target="" href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>



  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        View your NHS certificate
      </h1>

      <p>You can use this service to:</p>

      <ul class="list list-bullet">
        <li>view your certificate</li>
        <li>check if your NHS certificate is still valid or will expire soon</li>
        <li>prove you don't have to pay for prescriptions</li>
      </uL>

            <p>You can check the following certificates:</p>

      <ul class="list list-bullet">
        <li>prescription prepayment certificates (PPC)</li>
        <li>medical exemption certificate</li>
        <li>HC2 certificate</li>
          <li>tax credit exemption</li>
      </uL>

      <p>
        <a class="button button-start" href="#" role="button">Start now</a>
      </p>

      <p>It should take less than 1 minute to complete.</p>

    </div>
    <div class="column-third">


    </div>
  </div>

</main>

{% endblock %}
