{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="heading-group">
        <p>Buy an NHS Prescription Prepayment Certificate</p>
          <h1 class="heading-large">We could not process your details</h1>
      </div>
      <p>It is not your fault. Our payment provider is having technical difficulties.</p>
      <p>You can try to make the <a href="https://products.payments.service.gov.uk/pay/9e59090ec3f3499d892999ff952604e2">payment again</a>.</p>
      <p>If the problem persists, <a href="https://contactcentreservices.nhsbsa.nhs.uk/nhsuk/dispatch/connection?lang=en_GB&Screen=NHSBSA_ContactForm">use our contact form</a> or call 0300 330 1341.</p>

    </div>
    </div>
</main>

{% endblock %}
