{% extends "layout_bsa.html" %}

{% block page_title %}
  What is your name? - Buy an NHS Prescription Prepayment Certificate
{% endblock %}

{% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

      <hr>
<div class="grid-row" >
   <div class="column-third">
      <h2 class="heading-small" style="margin-top:20px;">Declaration</h2>
   </div>
   <div class="column-two-thirds">
      <div class="declaration">
         <ol>
            <li style="margin-left:40px; padding-bottom:10px;">I confirm that I have reviewed the summary above and that the information provided within this submission is correct and accurate. </li>

             <li style="margin-left:40px; padding-bottom:10px;">I confirm that my acceptance of the declaration below shall act as my electronic signature.</li>

             <h3 class="heading-medium" style="margin-bottom:20px; margin-top:0px;">Flu vaccination</h3>
             <li style="margin-left:40px; padding-bottom:10px;">I am claiming payment in accordance with the terms of the Community Pharmacy Seasonal Influenza Vaccine Advanced Service, as set out in the 2017/18 service specification and the Pharmaceutical Services (Advanced and Enhanced Services) (England) (Amendment) Directions 2015.
             </li>

      </div>


       <div class="form-group">
          <label class="form-label" for="firstname">
            First name
          </label>
          <input class="form-control" id="firstname" name="firstname" type="text">
        </div>
        <div class="form-group">
          <label class="form-label" for="lastname">
            Last name
          </label>
          <input class="form-control" id="lastname" name="lastname" type="text">
        </div>

      <div class="panel panel-border-wide">
  <p>
    A confirmation email will be sent to <span class="strong">premises.address@nhs.net</span>. If you would like an additional copy sent to a different email address, please enter it below.

</div>

       <div class="form-group">
   <label class="form-label" for="email">Email address (optional)</label>
        <span class="form-hint">

<input class="form-control form-control-1-2" id="email" type="text" name="email">
    </div>

      <div class="multiple-choice" style="margin-bottom:20px;" >
         <input id="dec" name="dec" type="checkbox" value="true">
         <label for="dec" style="background-color:white;">I agree and accept the declaration above.</label>
      </div>

       <br>
       <br>

      <div style="clear:both;"><a href="submitted"><input class="button" type="submit" value="Send submission"></a></div>
   </div>
</div>




        <p class="navigation"><a class="cancel" href="start">Cancel</a></p>

      </form>


  </div>

</main>

{% endblock %}
