{% extends "layout_bsa.html" %}

{% block page_title %}
  What is your name? - Buy an NHS Prescription Prepayment Certificate
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

<style>

</style>

  <div class="grid-row">

      <hr>
<div class="grid-row" >

  <div class="done-panel">
  <h1 class="heading-large" style="align:left;">Flu submission sent</h1>
  <p style="align:left;">A submissions summary has been sent to <span class="strong">premises.address@nhs.net"</span> and <span class="strong">personal.address@nhs.net</span>.</p>
 <a href="dashboard" class="link-back-white">Return to dashboard</a>
</div>
  <div id="dd_done">
    <h2 class="heading-medium">We have setup a Direct Debit payment for 12 months of prescriptions</h3>
  </div>
</div>

      </form>


  </div>

</main>

{% endblock %}
