{% extends "layout_bsa.html" %}

{% block page_title %}
  Prepay for NHS prescriptions
{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="heading-group">
        <p>Buy an NHS Prescription Prepayment Certificate</p>
          <h1 class="heading-large">Sorry, there is a problem with the service</h1>
      </div>

<p>Your payment has been successful.</p>
<p>Due to technical issues we are unable to show your certificate details right now.</p>
<div class="panel panel-border-wide">
<p>You are exempt from prescription charges from 22nd March 2019.</p>
<p>You can still collect your prescription from this date without your certificate details, the pharmacist should tick ‘Evidence not seen’ on the back of your prescription.</p>
</div>
<p>Please contact us after 24 hours on 0300 330 1341 or using our <a href="">contact form</a> and we will be able to send your certificate details to you.</p>


    </div>
    </div>
</main>

{% endblock %}
